body{
    font-family: Lucida Console;
    background-color: red;
    font-size: 40px
}

a:link {
  color: red;
}


a:visited {
  color: green;
}


a:hover {
  color: hotpink;
}

a:active {
  color: blue;
}
